.top1 {top: 50px;}
.top2 {top: 100px;}
.top3 {top: 150px;}
.top4 {top: 200px;}
.top5 {top: 250px;}
.top6 {top: 300px;}
.top7 {top: 350px;}

.left1 {left: 50px;}
.left2 {left: 100px;}
.left3 {left: 150px;}
.left4 {left: 200px;}
.left5 {left: 250px;}
.left6 {left: 300px;}
.left7 {left: 350px;}
.left8 {left: 400px;}
.left9 {left: 450px;}
.left10 {left: 500px;}
.left11 {left: 550px;}
.left12 {left: 600px;}
.left13 {left: 650px;}
.left14 {left: 700px;}
.left15 {left: 750px;}
.left16 {left: 800px;}
.left17 {left: 850px;}
.left18 {left: 900px;}
.left19 {left: 950px;}
.left20 {left: 1000px;}
.left21 {left: 1050px;}
.left22 {left: 1000px;}
.left23 {left: 1050px;}
